<%- include("./partial/header.ejs") %>
    <div class="fullscreen">
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col-sm-2">
                    <%- include("./partial/sidebar.ejs",{page_name:'Services'}) %>

                </div>
                <div class="col-sm-10">
                    <div class="container mt-5">
                        <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
                        <div class="row text-center text-white mb-5">

                            <div class="col-sm-4">
                                <i class="fas fa-chart-line fa-2x mb-3 i-color"></i>
                                <h3>Seo</h3>
                                <p>
                                    With my expertise in SEO, I can optimize your website to
                                    enhance its visibility and attract organic traffic.
                                    Let me take
                                    your online presence to new heights with strategic optimization techniques and
                                    deliver
                                    measurable results.
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <i class="fas fa-paint-brush fa-2x mb-3 i-color"></i>
                                <h3>Web Design</h3>
                                <p>
                                    With a keen eye for design and a passion for creativity, I specialize in web design
                                    that
                                    seamlessly combines aesthetics
                                    and functionality. Let me transform your vision into visually stunning websites that
                                    leave a lasting impression and
                                    engage your visitors.
                                </p>
                            </div>
                            <div class="col-sm-4"><i class="fas fa-code fa-2x mb-3 i-color"></i>
                                <h3>Web Development</h3>
                                <p>
                                    With my proficiency in web development, I can bring your ideas to life, creating
                                    stunning and functional websites that
                                    captivate your audience. Let me craft a seamless online experience that showcases
                                    your
                                    brand and drives success in the
                                    digital realm.
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <i class="fab fa-android fa-2x mb-3 i-color"></i>
                                <h3>Android</h3>
                                <p>
                                    Harnessing the power of Android, I can create innovative and user-friendly mobile
                                    applications that elevate the mobile
                                    experience. Let me develop cutting-edge Android solutions that cater to your
                                    specific
                                    needs, providing seamless
                                    performance and delivering a seamless user experience.
                                </p>
                            </div>

                            <div class="col-sm-4">
                                <p>
                                    <i class="fas fa-database fa-2x mb-3 i-color"></i>
                                <p>
                                <h3>Databases</h3>

                                With proficiency in MySQL, Firebase, and MongoDB, I possess the expertise to design
                                and
                                optimize databases for diverse
                                application needs. From relational databases to NoSQL solutions, I ensure seamless
                                data
                                management, scalability, and
                                performance, empowering your systems with efficient and secure data storage.
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <i class="fas fa-server fa-2x mb-3 i-color"></i>
                                <h3>Hosting</h3>
                                <p>
                                    Experience reliable and lightning-fast hosting services that ensure your website is
                                    always online, delivering
                                    exceptional performance and seamless user experiences.
                                </p>
                            </div>
                            <div class="row text-center text-white mb-5">
                                <div class="col-sm-4">
                                    <i class="fas fa-search-dollar fa -2x mb-3 i-color"></i>
                                    <h3>Maintainance</h3>
                                    <p>
                                        Leave the maintenance of your website or application in capable hands, ensuring
                                        its
                                        smooth operation, timely updates,
                                        and optimal performance, while you focus on your core business activities.
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <i class="fas fa-rocket fa-2x mb-3 i-color"></i>
                                    <h3>Deployment</h3>
                                    <p>
                                        Effortlessly deploy your applications to various platforms and environments,
                                        ensuring seamless integration, efficient
                                        deployment processes, and a hassle-free launch experience.
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <i class="fas fa-hands-helping fa-2x mb-3 i-color"></i>
                                    <h3>Support</h3>
                                    <p>
                                        Receive dedicated and reliable support for your technical queries and
                                        challenges,
                                        ensuring prompt resolutions, expert
                                        guidance, and uninterrupted operational efficiency.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include("./partial/footer.ejs") %>