<%- include("./partial/header.ejs") %>
    <div class="fullscreen">
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col-sm-2">
                    <%- include("./partial/sidebar.ejs",{page_name:'Skill'}) %>

                </div>
                <div class="container mt-5">
                    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
                    <div class="row text-white">
                        <div class="col-sm-6">
                            <h3 class="mt-5">HTML/CSS</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%"
                                    area-valuenow="100" aria-valuenow="0" aria-valuenow="100">100%</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="mt-5"> Javascript</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%"
                                    area-valuenow="95" aria-valuenow="0" aria-valuenow="100">95%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-white">
                        <div class="col-sm-6">
                            <h3 class="mt-5">React js</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%"
                                    area-valuenow="90" aria-valuenow="0" aria-valuenow="90">90%</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="mt-5">Express Js</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 85%"
                                    area-valuenow="85" aria-valuenow="0" aria-valuenow="85">85%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-white">
                        <div class="col-sm-6">
                            <h3 class="mt-5">Node js</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%"
                                    area-valuenow="80" aria-valuenow="0" aria-valuenow="80">80%</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="mt-5">Laravel</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%"
                                    area-valuenow="75" aria-valuenow="0" aria-valuenow="75">75%</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="mt-5">Bootstrap</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%"
                                    area-valuenow="80" aria-valuenow="0" aria-valuenow="80">80%</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="mt-5">Android Studio</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%"
                                    area-valuenow="70" aria-valuenow="0" aria-valuenow="70">70%</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="mt-5">Python</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 60%"
                                    area-valuenow="60" aria-valuenow="0" aria-valuenow="60">60%</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="mt-5">Flask</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%"
                                    area-valuenow="50" aria-valuenow="0" aria-valuenow="50">50%</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    </div>
    </div>
    <%- include("./partial/footer.ejs") %>